<mat-toolbar color="primary" class="navbar">
  <span class="title">Inventario de Videojuegos</span>

  <span class="spacer"></span>

  <button *ngIf="isAdmin()" mat-raised-button color="accent" (click)="Admin()">Administrar</button>
  <button mat-raised-button color="accent" (click)="Home()">Home</button>

  <button class="welcome-message" mat-raised-button>Bienvenido, {{ nombre }}</button>

  <button *ngIf="isLoggedIn()" mat-raised-button color="warn" (click)="logout()">Logout</button>
  <button *ngIf="!isLoggedIn()" mat-raised-button color="primary" (click)="Login()">Login</button>
  <button *ngIf="!isLoggedIn()" mat-raised-button color="accent" (click)="Registro()">Registrate</button>
</mat-toolbar>

<router-outlet></router-outlet>
