<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <!-- Campo de Correo -->
    <div class="form-field">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="correo" type="email" />
        <mat-error *ngIf="loginForm.get('correo')?.invalid && loginForm.get('correo')?.touched">
          <small *ngIf="loginForm.get('correo')?.errors?.['required']">El correo es requerido.</small>
          <small *ngIf="loginForm.get('correo')?.errors?.['email']">Formato de correo inválido.</small>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Campo de Contraseña -->
    <div class="form-field">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="contrasena" type="password" />
        <mat-error *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched">
          <small *ngIf="loginForm.get('contrasena')?.errors?.['required']">La contraseña es requerida.</small>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Botones -->
    <div class="button-group">
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
      <button mat-raised-button color="accent" type="button" (click)="Registro()">Registro</button>
    </div>
  </form>
</div>
