.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  padding: 30px; /* Internal padding for comfort */
  background-color: #ffffff; /* Lighter background color */
  border-radius: 150px; /* More rounded corners for softness */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Pronounced shadow for depth */
  max-width: 8000px; /* Set a maximum width to reduce overall width */
  width: 90%; /* Ensure it is responsive */
  margin-left: auto; /* Center the container */
  margin-right: auto; /* Center the container */
}


h1 {
  font-size: 2.8rem; /* Tamaño de fuente más grande para destacar el título */
  margin-bottom: 15px; /* Espacio adicional debajo del título */
  color: #333; /* Color oscuro para un mejor contraste */
  text-transform: uppercase; /* Texto en mayúsculas para mayor impacto */
  letter-spacing: 1px; /* Espaciado de letras para mejor legibilidad */
}

p {
  margin-bottom: 25px; /* Espacio adicional debajo del párrafo */
  color: #646464; /* Color de texto ligeramente más claro */
  line-height: 1.8; /* Mayor altura de línea para mejorar la legibilidad */
  font-size: 1.1rem; /* Aumentar tamaño de fuente para el párrafo */
}

.quick-actions {
  display: flex;
  justify-content: center;
  gap: 30px; /* Espacio entre acciones rápidas */
  margin-top: 30px; /* Espacio superior adicional */
}

.action-card {
  width: 300px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones más suaves */
  background-color: #ffffff; /* Fondo blanco para resaltar el contenido */
  border-radius: 10px; /* Bordes redondeados para un aspecto moderno */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Sombra sutil pero más prominente */
  padding: 20px; /* Espacio interno */
  position: relative; /* Posicionamiento relativo para efectos de hover */
  overflow: hidden; /* Para evitar desbordamiento de contenido en el hover */
}

.action-card:hover {
  transform: scale(1.05); /* Escala de la tarjeta al pasar el ratón */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al pasar el ratón */
}

.action-card::before {
  content: ""; /* Pseudo-elemento para efecto de fondo */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(63, 81, 181, 0.1); /* Efecto de fondo azul claro */
  opacity: 0; /* Invisible por defecto */
  transition: opacity 0.3s ease; /* Transición suave */
}

.action-card:hover::before {
  opacity: 1; /* Visibilidad al pasar el ratón */
}

mat-card-header mat-icon {
  font-size: 40px; /* Tamaño del icono */
  margin-right: 10px;
  color: #3f51b5; /* Color azul para los iconos */
  transition: color 0.3s ease; /* Transición de color suave */
}

.action-card:hover mat-card-header mat-icon {
  color: #1e88e5; /* Color más claro del icono en hover */
}
