<div class="admin-container">
  <h1>Bienvenido, Administrador {{ nombre }}</h1>
  <p>Gestiona los recursos y operaciones del sistema desde aquí.</p>

  <div class="quick-actions">
    <mat-card class="action-card" (click)="Inventario()">
      <mat-card-header>
        <mat-icon>sports_esports</mat-icon>
        <mat-card-title>Inventario de Juegos</mat-card-title>
      </mat-card-header>
      <mat-card-content>Administra el inventario de videojuegos.</mat-card-content>
    </mat-card>
  </div>
</div>
